*{
    padding:0;
    margin:0;
    font-family:system-ui;
    border :border-box;
}

i{
    padding:.25rem;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    gap:.5vw;
}

.nav-logo{
    height:70px;
    width:115px;
    padding:.75rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo{
    background-image: url('amazon_logo.png');
    background-size:cover;
    background-position: center;
    height:70px;
    width:113px;
}

.border{
    border:2px solid transparent;
    border-radius:3px;
    height:40px;
    padding:.25rem;
    display: flex;
    align-items: center;
}

.sub-nav-bar-border{
    border:2px solid transparent;
    height:25px;
    padding:.25rem;
    display: flex;
    align-items: center;
    border-radius:3px;
}

.next-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border:hover{
    border:2px solid white;
}

.sub-nav-bar-border:hover{
    border:2px solid white;
}

.nav-location{
    display:flex;
    align-items: center;
    gap:.5rem;
}

.small-font{
    font-size: 12px;
    font-weight: 400;
}

#location-deliver{
    height:14px;
    color:lightgrey;
}

.bold-font{
    font-weight:900;
    font-size:14px;
}

.search-bar{
    display:flex;
    padding: .5rem;
    flex-grow: 2;
    height:45px;
}

select{
    height:45px;
    padding:.5rem;
    color:rgb(85, 82, 82);
    font-size:small;
    max-width:fit-content;
    width: 50px;
    border:none;
    border-radius:5px 0px 0px 5px;
}

#search-input{
    border:none;
    font-size:medium;
    padding:.5rem;
    flex-grow: 2;
}

.search-icon{
    background-color: orange;
    width:45px;
    color:black;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:larger;
    border-radius:0px 5px 5px 0px;
}

#language{
    height:25px;
    padding: .75rem;
    font-weight:bolder;
}

.cart-icon{
    font-size:x-large;
    padding:.5rem;
}

.sub-nav-bar{
    height:40px;
    width:100%;
    background-color: #232f3e;;
    display:flex;
    align-items:center;
}

#all-hamburger{
    color:white;
    font-size:larger;
}

#all-text{
    color:white;
    font-weight:900;
    font-size:small;
}

.sub-nav-text{
    font-size:small;
    font-weight:bold;
    padding:1rem;
    color:white;
}